a:link {
  text-decoration: none;
  color: var(--primary);
}

a:visited {
  color: var(--primary);
}

* {
  box-sizing: border-box;
}

body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

:root {
  font-size: 16px;
}

/* TEXTE */
.txt {
  font-family: "Merriweather";
}
.txt__ttl {
  font-weight: 500;
  padding-bottom: 2rem;
  text-align: center;
}
.txt__little {
  font-size: 0.8rem;
  text-align: center;
}
.txt__spacing {
  padding: 1rem;
}
.txt__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt__link {
  text-decoration: underline !important;
  text-underline-offset: 2px;
}

/* SUGGESTIONS */
.suggestions {
  background-color: #8f8f8f;
  height: 250px;
  overflow: scroll;
}
.suggestions__ttl {
  margin-left: 1.6rem;
  padding-top: 1rem;
  font-weight: 600;
}
.suggestions__lst {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: 1rem 0 0 1.6rem;
}
.suggestions__img {
  display: flex;
  height: 10rem;
  list-style: none;
}

/* SEARCH  */
.search {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfbfb .search __img;
  background-color-height: 10rem;
}

.search__label {
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.search__input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  background-color: #8f8f8f;
  font-family: sans-serif;
}

::-moz-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

.search__btn {
  background-color: #D04826;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  letter-spacing: 0.02rem;
}

@media screen and (min-width: 769px) {
  .search__wrap {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0;
  }
  .search__label {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
  }
}
/* RATING */
.rating__wrap {
  margin: 5rem 7.6rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.rating__img {
  position: relative;
  width: 15rem;
}

.rating__icn {
  position: absolute;
  right: -2rem;
  top: -2rem;
  width: 5rem;
}

/* NAVBAR  */
.nav__lst {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}

.nav__itm:hover {
  background-color: #d0d0d0;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: 2s;
}

.nav__itm {
  padding: 0.5rem;
}

.nav__wrap {
  display: flex;
  padding-right: 1rem;
}

@media screen and (max-width: 768px) {
  .nav {
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    padding-top: 1rem;
  }
  .nav__lst {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
  }
  .nav__lst:last-child {
    border-radius: 0 0 2rem 2rem;
  }
  .nav__itm {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    padding: 1.1rem;
  }
  .nav__icn {
    position: absolute;
    right: 1rem;
    top: -4.5rem;
    font-size: 3rem;
  }
  .nav__wrap {
    display: flex;
  }
  .hide {
    visibility: hidden;
  }
  .show {
    right: 0;
  }
}
/* INTRO  */
.intro {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.intro__wrap {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.intro__ttl {
  font-size: 2rem;
  font-weight: 800;
}

.intro__txt {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.intro__img {
  width: 10rem;
  padding-right: 1rem;
}

@media screen and (min-width: 769px) {
  .intro {
    gap: 5rem;
  }
  .intro__wrap {
    padding-left: 3rem;
    padding-bottom: 4rem;
    padding-top: 7rem;
  }
  .intro__ttl {
    font-size: 4rem;
  }
  .intro__txt {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .intro__img {
    width: 20rem;
    padding-right: 3rem;
  }
}
/* HEADER  */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}
.header__lst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 4rem;
  padding-left: 1rem;
}

.header__icn {
  font-size: 2rem;
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .header {
    display: block;
  }
  .header__lst {
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__search {
    padding-left: 0.5rem;
  }
  .header__nav {
    padding-right: 0.5rem;
    padding-top: 0.2rem;
  }
  .header__img {
    width: 4rem;
  }
  .header__icn {
    padding: 1rem;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__switch {
    position: absolute;
    left: 2rem;
    font-size: 1.2rem;
  }
  .header__nav > .header__icn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
  .hidden {
    display: block !important;
  }
}
@media screen and (min-width: 1280px) {
  .header__lst {
    height: 5rem;
  }
  .header__img {
    width: 4rem;
  }
}
/* FOOTER  */
.footer__lst {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.footer__socials {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  position: absolute;
  right: 1rem;
}

/* DESCRIPTION */
.description {
  margin: 2.6rem 1.6rem 1.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description__wrap {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0.4rem;
}

.description__ttl {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.description__icn {
  display: flex;
  margin: 0 auto;
  width: 4rem;
}

.description__txt {
  padding: 0 1rem;
  font-size: 1.1rem;
  text-align: center;
}

/* CTA  */
.cta {
  display: flex;
}

.cta__position {
  justify-content: center;
  margin: 1rem auto;
  padding-top: 1rem;
}

.cta__wrap {
  padding-bottom: 2rem;
}

.cta:link {
  text-decoration: none;
}

.cta__txt {
  background-color: #D04826;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
  color: #fff;
  border: none;
}

.cta__txt--little {
  background-color: #D04826;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 0.8rem;
  color: #fff;
  border: none;
}

@media screen and (min-width: 769px) {
  .cta__txt {
    font-size: 1.5rem;
  }
  .cta__txt--little {
    font-size: 1.2rem;
  }
}
/* CATALOG  */
.catalog__title {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  font-weight: 700;
}
.catalog__lst {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  padding-top: 1rem;
}
.catalog__lst--spacing {
  padding-top: 0.5rem;
}

@media screen and (min-width: 769px) {
  .catalog__lst {
    gap: 3rem;
    padding-top: 1rem;
  }
  .catalog__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .catalog__lst {
    gap: 3rem;
    padding-top: 1rem;
  }
}
/* CARDS  */
.card__wrap {
  width: calc(50% - 2rem);
  padding-bottom: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  border-radius: 1rem;
}

.card__lnk {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card__ttl {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 0 1rem 0 1rem;
  width: 10rem;
}

.card__txt {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.card__img {
  width: 6rem;
  height: 10rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 769px) {
  .card__wrap {
    width: calc(25% - 1rem);
    border-radius: 1rem;
  }
  .card__img {
    aspect-ratio: 2/3;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card__ttl {
    justify-content: center;
    font-size: 1rem;
    width: 15rem;
  }
  .card__txt {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .card__wrap {
    width: calc(25% - 6rem);
  }
}
.filters {
  display: flex;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: #123F34;
  background-color: #8f8f8f;
}

.filters__wrap {
  display: flex;
  margin-left: 1rem;
  gap: 0.5rem;
}

.filters__txt {
  color: #123F34;
  font-size: 0.8rem;
}

.seller__ttl {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-between;
}
.form__radius {
  border-radius: 1rem;
}
.form__btn {
  width: 5rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1rem auto;
  border: none;
}
.form__label {
  font-weight: 500;
}
.form__wrap {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  gap: 0.5rem;
}
.form__wrap--inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form__ttl {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem 0;
  font-weight: 700;
  width: 50%;
  margin: 2rem auto 0 auto;
  border-radius: 1rem 1rem 0 0;
}
.form__input {
  width: calc(100% - 1rem);
}
.form__wrap--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.form__wrap {
  margin-bottom: 20px;
}
.form__textarea {
  width: calc(100% - 1rem);
}
.form__spacing {
  padding: 5rem 5rem 0rem 5rem;
}

.btn__spacing {
  margin: 0.2rem;
}

.dark {
  background-color: #303030;
  color: #fcfbfb;
}

.light {
  background-color: #0C0C0C;
  color: #fcfbfb;
}

.dark__catalog {
  color: #fcfbfb;
  background-color: #0C0C0C;
  border-radius: 5rem 5rem 0 0;
}

.light__catalog {
  color: #0C0C0C;
  background-color: #d0d0d0;
  border-radius: 5rem 5rem 0 0;
}

.dark__card {
  color: #fcfbfb;
  background-color: #303030;
}

.light__card {
  color: #303030;
  background-color: #fcfbfb;
}

.dark__form {
  color: #0C0C0C;
}

.light__form {
  color: #0C0C0C;
}

.dark__label {
  color: #fff;
}

.light__nav {
  background-color: #fff;
  color: #0C0C0C;
}

.dark__nav {
  background-color: #303030;
  color: #fff;
}

.list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid;
}
.list__author {
  font-size: 1.2rem;
}
.list__ttl {
  font-size: 1.2rem;
}
.list__wrap {
  border: 1px solid;
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: -1rem;
}

.list:hover {
  background-color: #D04826;
}/*# sourceMappingURL=style.css.map */