$primary: #fcfbfb;
$secondary: #8f8f8f;
$somberPop: #123F34;
$lightPop: #D04826;
$grey: #d0d0d0;
$white: #fff;
$black: #0C0C0C;
// $primary: #654A3B;
// $secondary: #C8B4A1;
// $somberPop: #123F34;
// $lightPop: #D04826;
// $beige: #E4DDC9;
// $white: #fff;
// $black: #0C0C0C;