/* CARDS  */

.card__wrap {
    width: calc(50% - 1rem);
    padding-bottom: 1rem;
    background-color: $taupe;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.card__lnk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card__ttl {
    color: $green;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 0 1rem 0 1rem;

}

.card__txt {
    color: $green;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.card__img {
    width: 6rem;
    margin-top: 1.5rem;

}
@media screen and (min-width: 769px){
    .card__wrap{
        width: calc(25% - 1rem);
        border-radius: 1rem;
    }

    .card__img {
        width: 10rem;
        height: 15rem;

}
    .card__ttl{
        font-size: 1rem;
    }

    .card__txt{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    .card__wrap{
        width: calc(25% - 3rem);
    }

    
}

