/* CARDS  */

.card__wrap {
    width: calc(50% - 1rem);
    padding-bottom: 1rem;
    background-color: $taupe;
}

.card__lnk {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__ttl {
    margin-top: .65rem;
    color: $green;
    font-size: 1.2rem;

}

.card__txt {
    color: $green;
    font-size: 1rem;
    font-weight: 500;
}

.card__img {
    width: 6rem;

}
@media screen and (min-width: 769px){
    .card__wrap{
        width: calc(25% - 1rem);
    }

    .card__img {
        width: 10rem;
        height: 15rem;

}
    .card__ttl{
        font-size: 1.7rem;
    }

    .card__txt{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1280px) {
    .card__wrap{
        width: calc(25% - 3rem);
    }

    
}

