/* CATALOG  */
.catalog{
    background-color: $taupe;
}

.catalog__title {
    display: flex;
    justify-content: center;
    color: $green;
    padding: 2rem 0;
    background-color: $beige;
}

.catalog__lst {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    padding-top: 3.5rem;
    background-color: $taupe;
}

@media screen and (min-width: 780px){
    .catalog__lst{
        gap: 5rem;
        padding-top: 5rem;
        
    }
}

@media screen and (min-width: 1280px){
    .catalog__lst{
        gap: 3rem;
        padding-top: 4rem;
    }

}