/* CTA  */

.cta {
    display: flex;
}

.cta__position{
    justify-content: center;
    margin: 1rem auto;
    padding-top: 1rem
}

.cta__wrap{
    padding-bottom: 2rem;
}


.cta:link {
    text-decoration: none;
}

.cta__txt {
    background-color: $lightPop;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 600;
    font-size: .8rem;
    color: $white;
    border: none;
}

.cta__txt--little{
    background-color: $lightPop;
    padding: .8rem 1rem;
    border-radius: .5rem;
    font-weight: 400;
    font-size: .8rem;
    color: $white;
    border: none;
}

@media screen and (min-width: 769px){
    .cta__txt{
        font-size: 1.5rem;
    }

    .cta__txt--little{
        // margin-top: 3rem;
        font-size: 1.2rem;
    }
}
