.dark{
    background-color: $dark;
    color: $primary;
}

.light{
    background-color: $black;
    color: $primary;
}

.dark__catalog{
    color: $primary;
    background-color: $black;
    border-radius: 5rem 5rem 0 0;
}

.light__catalog{
    color: $black;
    background-color: $grey;
    border-radius: 5rem 5rem 0 0;
}

.dark__card{
    color: $primary;
    background-color: $dark;
}

.light__card{
    color: $dark;
    background-color: $primary;
}

.black__card{
    color: $primary;
    background-color: $black;
}


.dark__form{
    color: $black;
}

.light__form{
    color: $black;

}

.dark__label{
    color: $white;
}

.light__nav{
    background-color: $white;
    color: $black;
}

.dark__nav{
    background-color: $dark;
    color: $white;
}

.light__ttl{
    color: $white;
}

.dark__ttl{
    color: $black;
}

.light__list{
    color: $dark;
    background-color: $grey;
}

.dark__list{
    color: $white;
    background-color: $black;
}

.dark__btn{
    color: $white;
}

.light__btn{
    color: $dark;
}