.dark{
    background-color: $dark;
    color: $primary;
}

.light{
    background-color: $black;
    color: $primary;
}

.dark__catalog{
    color: $primary;
    background-color: $black;
    border-radius: 5rem 5rem 0 0;
}

.light__catalog{
    color: $black;
    background-color: $grey;
    border-radius: 5rem 5rem 0 0;
}

.dark__card{
    color: $primary;
    background-color: $dark;
}

.light__card{
    color: $dark;
    background-color: $primary;
}

