/* DESCRIPTION */

.description {
    margin: 2.6rem 1.6rem 1.6rem 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin: 0 10rem 0 10rem;
    }

    &__ttl {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        // width: 50%;
    }

    &__icn {
        // display: flex;
        // margin: 0 auto;
        // width: 3rem;
        font-size: 1.5rem;
    }

    &__txt {
        padding: 0 1rem;
        font-size: 1.1rem;
        text-align: justify;
        margin: 0 5rem;
    }

}

@media screen and (max-width: 769px){
    .description{
        &__txt{
            margin: 0 1rem;
        }
    }
}
