/* DESCRIPTION */

.description{
    margin: 2.6rem 1.6rem 1.6rem 1.6rem;
}

.description__wrap{
    // display: flex ;
    // align-items: center;
    gap: 1rem;
    margin-bottom: .4rem;

}

.description__ttl{
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}

.description__icn{
    display: flex;
    margin: 0 auto;
}
.description__txt{
    padding: 0 2rem 0 2rem;
}