// filters 

.filters{
    display: flex;
    padding-left: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    color: $somberPop;
    background-color: $secondary;
}

.filters__wrap{
    display: flex;
    margin-left: 1rem;
    gap: .5rem;
}

.filters__txt{
    color: $somberPop;
    font-size: .8rem;
}

