/* FOOTER  */

.footer {
    &__lst {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }
    &__socials {
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
        position: absolute;
        right: 1rem;
    }
}



