/* INTRO  */

.intro {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    
}

.intro__wrap {
    padding-top: 5rem;
    // padding-left: 5rem;
    padding-bottom: 2rem;
}

.intro__ttl {
    font-size: 2rem;
    font-weight: 800;
}

.intro__txt {
    font-weight: 400;
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.intro__img{
    width: 10rem;
    padding-right: 1rem;
}


@media screen and (min-width: 769px) {
    .intro {
        gap: 5rem;
        // height: 20rem;
    }

    .intro__wrap {
        padding-left: 3rem;
        padding-bottom: 4rem;
        padding-top: 7rem;
    }

    .intro__ttl {
        font-size: 4rem;
    }

    .intro__txt {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .intro__img{
        width: 20rem;
        padding-right: 3rem;
    }
}