
/* INTRO  */

.intro {
    display: flex;
    flex-direction: column;
    background-image: url(/img/background.png);
    height: calc(50vh - 2rem);
    background-size: cover;
}

.intro__wrap {
    padding-top: 11.5rem;
    padding-left: 2rem;
}

.intro__title {
    font-size: 2rem;
    font-weight: 800;
    color: $white;
}

.intro__txt {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 1rem;
    color: $white;
    margin: .5rem 0 1rem 0;
}