/* INTRO  */

.intro {
    display: flex;
    flex-direction: column;
    background-image: url(/img/background.png);
    // height: calc(50vh - 2rem);
    background-size: cover;
}

.intro__wrap {
    padding-top: 10rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.intro__ttl {
    font-size: 3rem;
    font-weight: 800;
    color: $white;
}

.intro__txt {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 1rem;
    color: $white;
    margin: 0 0 1rem 0;
}

@media screen and (min-width: 780px) {
    .intro {
        background-image: url(/img/background-lg.png);
        background-position: center;
    }

    .intro__wrap {
        padding-left: 4rem;
        padding-bottom: 4rem;
    }

    .intro__ttl {
        font-size: 4rem;
    }

    .intro__txt {
        font-size: 1.2rem;
    }
}