/* NAVBAR  */


.nav__lst {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
}

.nav__itm:hover {
    background-color: $grey;
    padding: .5rem;
    border-radius: 1rem;
    // align-items: center;
    // justify-content: center;
    // font-weight: 500;
    transition: 2s;
}

.nav__itm {
    padding: .5rem;
}

.nav__wrap {
    display: flex;
    padding-right: 1rem;
}

@media screen and (max-width: 768px) {

    .nav {
        position: absolute;
        z-index: 20;
        width: 100vw;
        height: 100vh;
        padding-top: 1rem;

        &__lst {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 100vw;

        }

        &__lst:last-child {
            border-radius: 0 0 2rem 2rem;
        }

        &__itm {
            font-size: 1.2rem;
            font-weight: 700;
            color: $black;
            text-align: center;
            padding: 1.1rem;

        }


        &__icn {
            // background-color: $primary;
            position: absolute;
            right: 1rem;
            top: -4.5rem;
            font-size: 3rem;
        }

        &__wrap {
            display: flex;
        }
    }

    .hide {
        visibility: hidden;
    }

    .show {
        right: 0;
    }
}