/* RATING */
.rating__wrap{
    margin: 5rem 7.6rem;
    display: flex;
    justify-content: center;

    position: relative;
   }
   
   .rating__img{
       position: relative;
       width: 15rem;
    //    margin: 0 auto;
   }
   
   .rating__icn{  
       position: absolute;
       right: -2rem;
       top: -2rem;
       width: 5rem;
   }