/* RATING */
.rating__wrap{
    margin: 5rem 7.6rem 2.6rem 7.6rem;
    position: relative;
   }
   
   .rating__img{
       position: relative;
   }
   
   .rating__icn{
       position: absolute;
       right: -2rem;
       top: -2rem;
   }