/* RATING */

.rating{
    &__wrap{
        margin: 5rem 0 ;
        display: flex;
        justify-content: center;
        position: relative;
       }
       
       &__img{
           position: relative;
           width: 15rem;
       }
       
       &__icn{  
           position: absolute;
           top: -6.5rem;
           width: 5rem;
       }
}

@media screen and (max-width: 769px){
    
}